!!! 5
%html
  %head
    %title Missing Info
    %link{:href => "https://bootswatch.com/superhero/bootstrap.min.css", :rel => "stylesheet"}
  %body
    = "Missing some sort of data - please double check at you sent some data by clicking \"Back\""